body {
  font-family: sans-serif;
  padding: 10px;
  overflow: auto;
  height: 100%;
  width: 400px;
  background-color: #b0e0e6;
  color: #333;
}

#logo {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
}

#saved-strings-container {
  height: 300px;
  overflow: auto;
  max-height: 250px;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
}

#string-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#save-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.string-row {
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.trashcan-icon {
  margin-left: auto;
  display: none;
  width: 24px;
  height: 24px;
}

.magic-icon {
  margin-left: auto;
  display: none;
  width: 24px;
  height: 24px;
}

.alert-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.string-row span {
  display: inline-block;
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.string-row:hover {
  background-color: #eee;
  display: flex;
  height: 24px;
  line-height: 24px;
}

.string-row:hover .trashcan-icon {
  display: block;
}

.string-row:hover .magic-icon {
  display: block;
}

.magic-icon,
.trashcan-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
  justify-content: space-between;
}

.magic-icon + .trashcan-icon {
  margin-left: 0;
}
